<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>myLibrary</title>
</head>

<body>
    <div class="container">
        <div class="heading">
            <ul>
                <li> <a href="/galary"><i class="fa fa-television "></i> Galary</a></li>
                <li>
                    <a href="/books"><i class="fa fa-book "></i>Books</a>

                </li>
                <li> <a href="/authors"><i class="fa fa-user "></i>Autor</a></li>
                <li>
                    <a href="/logout"><i class="fa fa-chevron-right "></i>Logout</a>
                </li>
            </ul>

        </div>