<%- include('partials/header'); -%>
    <h3 class="title2">
        author section
    </h3>

    <div class="form-search-author">
        <form action="/authors" method="GET" id="search-form">
            <div class="search-item">

                <input type="text" name="author" id="author" placeholder="Search Author">
            </div>
            <button type="submit" id="searchBtn">Search</button>
        </form>
    </div>

    <div class="autor-scrollable">
        <div class="autor-div">
            <% author.forEach((author)=>{ %>
                <div class="author-list">
                    <div class="emoji"><i class="fa fa-user emoji"></i></div>

                    <div class="author-name">
                        <%=author.name%>
                    </div>

                </div>
                <% }) %>
        </div>

    </div>


    <a href="/authors/newAuthor" id="create">Create new author</a>

    <%- include('partials/footer'); -%>