<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>

<body>

    <div class="welcomeContainer">


        <div class="heading-div">
            <i class="fa fa-handshake-o fa-4x" id="ico"></i>
            <h2 id="welcomeTitle">Welcome</h2>
            <h3 id="smallTitle">Be a menber, register now!</h3>

        </div>
        <div class="form-div">
            <form action="/register" method="post">

                <div class="input-item">
                    <label for="username">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="input-item">
                    <label for="email">Email</label>
                    <input type="email" name="username" id="email">
                </div>
                <div class="input-item">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>

                <button type="submit" id="log">Register</button>

                <!-- <a href="/login" id="reg">Already a member? login</a> -->
            </form>

        </div>

    </div>

</body>


</html>